@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

input,
textarea {
  width: 100%;
  background-color: transparent;
  color: white;
  outline: none;
  border: 2px solid #c0c4cc;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 300ms ease;
}

input:hover,
textarea:hover {
  border-color: #dcdfe6;
}

input:focus,
textarea:focus {
  border-color: #4d4dff;
}

label {
  font-size: 14px;
  font-weight: bold;
}

li {
  list-style: none;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

section {
  background-color: rgb(245, 245, 245);
  transition: all 500ms ease;
}

textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 240px;
  margin-top: 8px;
}

/*

DARK THEME 

*/

.dark-theme section {
  background-color: #242424;
}

.dark-theme .section__title,
.dark-theme .nav__link--anchor,
.dark-theme .header__para,
.dark-theme .title {
  color: white;
}

.dark-theme .nav__img {
  filter: grayscale(1) invert(1);
}

.dark-theme .scroll__icon {
  border-color: white;
}

.dark-theme .link__hover-effect--black:after,
.dark-theme .scroll__icon:after {
  background-color: white;
}

.dark-theme .mail__btn {
  background-color: white;
  color: black;
}

/*

GLOBAL / RESUSABLE CLASSES & ID'S

*/

.fes-blue {
  color: #4d4dff !important;
}

.click {
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

.container {
  padding: 56px 0;
}

.fa-adjust {
  font-size: 20px;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect::after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  bottom: -2px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover::after {
  width: 100%;
  left: 0;
}

.link__hover-effect--black:after {
  background-color: #242424;
}

.link__hover-effect--white:after {
  background-color: white;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}

.section__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}

.title {
  font-size: 120px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}

nav,
.scroll,
.header {
  opacity: 1;
  visibility: visible;
  transition: all 600ms 600ms ease;
}

.modal--open nav,
.modal--open .scroll,
.modal--open .header {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms ease;
}

/*

MODAL 

*/

.modal--open .modal {
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  z-index: -1;
  visibility: hidden;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal__half {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 72px;
  transition: all 500ms ease;
}

.modal__about {
  background-color: rgb(245, 245, 245);
  transform: translateX(-110%);
}

.modal--open .modal__about {
  transform: translateX(0);
}

.modal__title {
  font-size: 26px;
}

.modal__sub-title {
  margin: 12px 0 24px 0;
  font-size: 14px;
}

.modal__para {
  margin-bottom: 12px;
  line-height: 1.75;
}

.modal__languages {
  display: flex;
  flex-wrap: wrap;
}

.modal__language {
  width: 25%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.modal__language--img {
  width: 100%;
  transition: all 500ms ease;
}

.modal__language:hover .modal__language--img {
  transform: scale(0.9);
  filter: brightness(60%);
}

.language__name {
  position: absolute;
  bottom: -10px;
  transform: scale(0);
  transition: all 300ms ease;
}

.modal__language:hover .language__name {
  transform: scale(1);
}

.modal__contact {
  background-color: #242424;
  color: white;
  position: relative;
  transform: translateX(110%);
}

.modal--open .modal__contact {
  transform: translateX(0);
}

.form__item {
  margin-bottom: 20px;
}

.form__submit {
  background-color: #4d4dff;;
  color: white;
  font-size: 20px;
  border: 2px solid #4d4dff;;
  font-weight: bold;
  width: 100%;
  max-width: 240px;
  padding: 12px 24px;
  border-radius: 4px;
  transition: all 300ms ease;
}

.form__submit:hover {
  background-color: transparent;
  border-color: white;
}

.form__submit:active {
  color: #4d4dff;;
  border-color: #4d4dff;;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.modal__overlay--loading {
  background-color: #242424;
}

.modal__overlay--success {
  background-color: #4d4dff;;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 0 28px;
}

.modal__overlay--visible {
  z-index: 1;
  display: flex;
}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 36px;
  z-index: 100;
}

.fa-spinner {
  font-size: 80px;
  animation: spinner 700ms infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*

NAVIGATION

*/

#landing-page {
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  height: 100px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__img--container {
  width: 80px;
  height: 80px;
  display: flex;
}

.nav__link--list {
  display: flex;
}

.nav__list:not(:first-child) {
  margin-left: 24px;
}

.nav__link--anchor {
  font-size: 16px;
  color: #242424;
  font-weight: 700;
}

/*

LANDING PAGE 

*/

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0 32px;
}

.header__para {
  line-height: 2;
  max-width: 800px;
  font-size: 24px;
}

/* Increment by 4 or 8px when using margin/padding*/
/* Even numbers for font sizes */

.social__list {
  margin-top: 16px;
  display: flex;
}

.social__link {
  background-color: #4d4dff;;
  color: white;
  padding: 6px;
  font-size: 14px;
  width: 36px;
  height: 36px;
  margin-right: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail__btn {
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  background-color: #242424;
  color: white;
  position: fixed;
  bottom: 32px;
  right: 40px;
  z-index: 100;
  box-shadow: 0 12px 30px 0 rgba(255, 255, 255, 0.3);
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #242424;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon:after {
  content: "";
  background-color: #242424;
  width: 4px;
  height: 6px;
  border-radius: 12px;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(-4px);
  }
}

/*

PROJECTS 

*/

.project:not(:last-child) {
  margin-bottom: 200px;
}

.project {
  margin-bottom: 100px;
}

.project__wrapper {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 45);
  display: flex;
}

.project__img {
  width: 100%;
  transition: all 600ms ease;
}

.project__wrapper:hover .project__img {
  transform: scale(1.1);
  filter: blur(5px);
}

.project__wrapper--bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 450ms ease;
}

.project__wrapper:hover .project__wrapper--bg {
  opacity: 0.7;
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  color: white;
  max-width: 550px;
  opacity: 0;
  transition: opacity 300ms, transform 450ms ease;
}

.project__wrapper:hover .project__description {
  transform: translateY(-50%);
  opacity: 1;
}

.project__description--title {
  font-size: 40px;
}

.project__description--sub-title {
  margin-top: 8px;
}

.project__description--para {
  margin: 16px 0;
}
.project__description--para-threads {
  margin: 16px 0;
  overflow-y: auto;
  max-height: 240px;
  margin-right: 12px;
}

.project__description--link {
  color: white;
  font-size: 20px;
  margin-right: 16px;
}

/*

FOOTER 

*/

footer {
  background-color: #242424;
  padding: 2% 0;
  position: relative;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__img--container {
  display: flex;
  width: 100px;
  height: 100px;
}

.footer__img {
  filter: grayscale(1) invert(1);
}

.footer__social--list {
  display: flex;
  width: 100%;
  max-width: 500px;
  margin: 12px 0 20px 0;
  justify-content: space-between;
}

.footer__copyright,
.footer__social--link {
  color: white;
}

/*

SHAPES 

*/

.shape {
  width: 25px;
  height: 25px;
  position: fixed;
}

.shape--0 {
  top: 15vh;
  left: 15vw;
}
.shape--1 {
  top: 15vh;
  left: 50vw;
}
.shape--2 {
  top: 15vh;
  left: 80vw;
}
.shape--3 {
  top: 50vh;
  left: 15vw;
}
.shape--4 {
  top: 50vh;
  left: 50vw;
}
.shape--5 {
  top: 50vh;
  left: 80vw;
}
.shape--6 {
  top: 80vh;
  left: 15vw;
}
.shape--7 {
  top: 80vh;
  left: 50vw;
}
.shape--8 {
  top: 80vh;
  left: 80vw;
}

/*

RESPONSIVENESS

*/

@media (max-width: 768px) {
  .shape {
    display: none;
  }
  nav {
    padding: 0 24px;
  }
  .title {
    font-size: 80px;
  }
  .header__para {
    font-size: 18px;
    max-width: 550px;
  }
  .modal {
    top: 0;
    left: 0;
    height: auto;
    transform: none;
    border-radius: 0;
    width: 100%;
    flex-direction: column-reverse;
  }
  .modal__half {
    width: 100%;
  }
  .row {
    padding: 0 24px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 52px;
  }
  .header__para {
    font-size: 16px;
  }
  .nav__list:first-child {
    display: none;
  }
  .project:not(:last-child) {
    margin-bottom: 100px;
  }
  .project {
    margin-bottom: 50px;
  }
  .project__description--sub-title {
    font-size: 14px;
  }
  .project__description--para {
    display: none;
  }
  .project__description {
    left: 0;
    width: 100%;
    text-align: center;
  }
  .project__description--sub-title {
    margin-bottom: 12px;
  }
  .modal__half {
    padding: 32px;
  }
  .footer__social--list {
    max-width: 400px;
  }
  .footer__social--link {
    font-size: 14px;
  }
}
